{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block side_bar_list %}
<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="{{url_for('user.summary')}}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>RESUMEN</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<div class="sidebar-heading d-flex justify-content-between align-items-center mb-3" data-toggle="collapse" data-target="#generalMenu" aria-expanded="false" aria-controls="generalMenu" style="cursor: pointer;">
    <span style="font-size: 0.75rem;" class="text-white"><i class="fas fa-fw fa-tasks"></i> General</span>
    <i class="fas fa-chevron-down"></i>
</div>

<!-- Collapsible Menu - General -->
<div class="collapse" id="generalMenu">
    <!-- Nav Item - Profile Information -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user.profile_information')}}">
            <i class="fas fa-fw fa-user"></i>
            <span >Perfil</span>
        </a>
    </li>
</div>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Heading -->
<div class="sidebar-heading d-flex justify-content-between align-items-center mb-3" data-toggle="collapse" data-target="#adminMenu" aria-expanded="false" aria-controls="adminMenu" style="cursor: pointer;">
    <span style="font-size: 0.75rem;" class="text-white"><i class="fas fa-fw fa-cog"></i> Gestión de usuarios y reportes</span>
    <i class="fas fa-chevron-down"></i>
</div>

<div class="collapse" id="adminMenu">
    <!-- Nav Item - User Management -->
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.user_management')}}">
            <i class="fas fa-fw fa-user"></i>
            <span>Administración de usuarios</span>
        </a>
    </li>

    <!-- Nav Item - Report Generation -->
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.reportes_g')}}">
            <i class="fas fa-fw fa-table"></i>
            <span>Generación de reportes</span>
        </a>
    </li>
</div>

<hr class="sidebar-divider">

<div class="sidebar-heading d-flex justify-content-between align-items-center mb-3" data-toggle="collapse" data-target="#mediaMenu" aria-expanded="false" aria-controls="mediaMenu" style="cursor: pointer;">
    <span style="font-size: 0.75rem;" class="text-white"><i class="fas fa-fw fa-film"></i> Multimedia</span>
    <i class="fas fa-chevron-down"></i>
</div>

<!-- Collapsible Menu - Multimedia -->
<div class="collapse" id="mediaMenu">
    <!-- Nav Item - Media Management -->
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.media_administrador')}}">
            <i class="fas fa-fw fa-video"></i>
            <span>Gestión de contenido</span>
        </a>
    </li>
</div>

<!-- Divider -->
<hr class="sidebar-divider">

</ul>
<!-- End of Sidebar -->

            
{% endblock %}