{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block side_bar_list %}
<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="{{url_for('user.summary')}}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Resumen</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Administracion
</div>

<!-- Nav Item - Pages Collapse Menu -->
<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="{{url_for('user.user_management')}}" >
        <i class="fas fa-fw fa-cog"></i>
        <span>Administración de usuarios</span>
    </a>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="{{url_for('user.reportes_g')}}" >
        <i class="fas fa-fw fa-table"></i>
        <span>Generación de reportes</span>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    General
</div>

<!-- Nav Item - Pages Collapse Menu -->

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('user.profile_information')}}">
        <i class="fas fa-fw fa-user"></i>
        <span>Perfil</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
</ul>
<!-- End of Sidebar -->

            
{% endblock %}