<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
        />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous"
        />

        <link rel="stylesheet" href="../static/css/styles.css">
    
        <title>Asignacion de turnos</title>

        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
      </head>
<body>
  <div class="container-own">
    <div id="main-container" class="container-fluid p-0 cont-div-2">
      <!-- Lado Izquierdo - Azul -->
      <div id="izquierda" class="col-md-6 cont-content mb-3">
          <div class="img-content">
              <img src="../static/images/CNE-logo.png" alt="logo_CNE" class="image-format">
          </div>

          <div class="text-content">
              <p>CONSEJO NACIONAL ELECTORAL</p>
              <p>DELEGACION ELECTORAL PROVINCIAL DE</p>
              <p>PICHINCHA</p>
          </div> 

          <p style="color: white; padding-inline: 1rem; border-radius: 2rem; background-color: rgb(33, 87, 122); font-weight: bold; font-size: 300%;">Bienvenida/o {{ current_user.nombre + " " + current_user.apellido }}</p>
          
          <button onclick="salir()" type="button" style="max-width: 40%; max-height: 10%;" class="btn-app">
            <p style="font-size: 3rem;" id="">Cerrar Sesion</p>
          </button>
      </div>
      
      <div id="derecha" class="col-6 cont-content mt-2">
        <div class="row">
          <div class="col">
            <button onclick="show_message('cambios_domicilio')" type="button" class="btn-app">
              <p id="cedulacion">CAMBIO DE DOMICILIO</p>
            </button>
          </div>

          <div class="col">
            <button onclick="show_message('justificaciones')" type="button" class="btn-app">
              <p id="multas">JUSTIFICACIONES</p>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button onclick="show_message('certificados_votacion')" type="button" class="btn-app">
              <p id="certificados">DUPLICADOS PAPELETA DE VOTACION</p>
            </button>
          </div>

          <div class="col">
            <button onclick="show_message('desafiliaciones')" type="button" class="btn-app">
              <p id="certificados">DESAFILIACIONES</p>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button onclick="show_message('online')" type="button" class="btn-app">
              <p id="certificados">SERVICIOS EN LINEA</p>
            </button>
          </div>

          <div class="col">
            <div style="width: 25rem; height: 18rem; background-color:#a52121; border-radius: 1rem;" class="d-flex flex-column justify-content-center align-items-center">
              <label class="mb-3 text-center" for="preferencial">
                <p style="margin: 0 auto; font-size: 3rem; color: white;">MARQUE SI ES PREFERENCIAL</p></label>
              <input id="preferencial" style="transform: scale(1.5);" name="preferencial" type="checkbox">
            </div>
          </div>
          
        </div>

      </div>
    </div>

    <div id="requirements" class="requirements"></div>

  </div>

      <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="../static/js/api.js"></script>
    
</body>
</html>