{% extends "base.html" %}
{% block title %}User{% endblock %}

{% block side_bar_list %}


<!-- Heading -->
<div class="sidebar-heading">
    General
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="{{url_for('user.profile')}}">
        <i class="fas fa-fw fa-user"></i>
        <span>Perfil</span>
    </a>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Asignacion de turnos</span>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>


</ul>
<!-- End of Sidebar -->

            
{% endblock %}

<!-- Begin Page Content -->
{% block main_content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 style="margin-inline: auto;" class="h3 mb-0 text-gray-800">Perfil</h1>
    </div>

    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-12 mb-4">

            <!-- Project Card Example -->
            <div class="mb-4 d-flex justify-content-center">
                <div class="rounded-circle bg-secondary d-flex justify-content-center align-items-center" style="width: 12rem; height: 12rem;">
                    <i class="fas fa-user fa-5x text-white"></i>
                  </div>                      
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-2">
                    <h6 style="font-size: 1.5rem;" class="m-0 font-weight-bold text-success text-center">Informacion personal</h6>
                </div>
                
                <div class="mt-4 col-md-12">
                    <div class="card border-left-primary shadow h-100 py-2 mb-4">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="mb-3 mt-3 col mr-2">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                        Nombre: </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ nombre }}</div>
                                </div>

                                <br>

                                <div class="col mr-2">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                        Apellido: </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ apellido }}</div>
                                </div>

                                <br>

                                <div class="col mr-2">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                        Rol: </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ rol }}</div>
                                </div>

                                <br>

                                <div class="col mr-2">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                        Username: </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ username }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}