{% extends "base_admin.html" %}
{% block title %}Generar reportes{% endblock %}
{% block scripts %} 


<!-- Page level plugins -->
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.45.0/docxtemplater.js"></script>
<script src="https://unpkg.com/pizzip@3.1.6/dist/pizzip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
<script src="https://unpkg.com/pizzip@3.1.6/dist/pizzip-utils.js"></script>

<!-- Page level custom scripts -->
<script src="../../static/vendor/demo/datatables-demo.js"></script>
{% endblock %}

<!-- Begin Page Content -->
{% block main_content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 mt-3 text-gray-800 text-center">Reportes Generales</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Turnos</h6>
        </div>

        <form class="d-flex align-items-center mt-5 ml-4 mb-0">
            <div class="mr-4 form-group">
              <label class="h6 text-secondary" for="fechaInicio">Fecha desde:</label>
              <input class="border-secondary-subtle text-gray-700" type="date" id="fechaInicio" name="fechaInicio" class="form-control">
            </div>
            <div class="form-group mr-4">
              <label class="h6 text-secondary" for="fechaFin">Hasta:</label>
              <input class="border-secondary-subtle text-gray-700" type="date" id="fechaFin" name="fechaFin" class="form-control">
            </div>

            <div class="form-group">
                <button type="button" id="botonFiltrar" class="btn btn-primary rounded-circle">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <div class="form-group d-flex flex-column ml-auto">
                <div class="ml-auto mr-4 mb-3">
                    <button type="button" id="botonReportesG" class="btn btn-primary">
                        <i class="fas fa-download"></i>
                        Generar reporte general
                    </button>
                </div>
    
                <div class="ml-auto mr-4">
                    <button type="button" id="botonReportesP" class="btn btn-success d-block text-wrap">
                        <i class="fas fa-download"></i>
                        Generar reporte personalizado
                    </button>
                </div>
                <p>Cargando.....</p>
            </div>
        </form>       
          
        <div class="card-body text-secondary">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead style="color: white;">
                        <tr class="bg-gradient-primary">
                            <th style="text-align: center;">ID</th>
                            <th style="text-align: center;">Servicio</th>
                            <th style="text-align: center;">Puesto</th>
                            <th style="text-align: center;">Numero turno</th>
                            <th style="text-align: center;">Fecha</th>
                            <th style="text-align: center;">Estado turno</th>
                        </tr>
                    </thead>
                    <tfoot style="color: white;">
                        <tr class="bg-gradient-primary">
                            <th style="text-align: center;">ID</th>
                            <th style="text-align: center;">Servicio</th>
                            <th style="text-align: center;">Puesto</th>
                            <th style="text-align: center;">Numero turno</th>
                            <th style="text-align: center;">Fecha</th>
                            <th style="text-align: center;">Estado turno</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for turno in turnos %}
                        <tr>
                            <td>{{turno.id}}</td>
                            <td>{{turno.servicio.descripcion}}</td>
                            <td>{{turno.puesto.descripcion}}</td>
                            <td>{{turno.numero_turno}}</td>
                            <td>{{turno.fecha}}</td>
                            <td>{{turno.estado_turno}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <h3 class="text-gray-800 text-center mb-3">Previsualizacion</h3>

        <iframe id="pdfViewer" class="mb-5" style="margin: 0 auto;" src="../static/output.pdf" width="90%" height="600px"></iframe>
        

    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}

