{% extends "base_admin.html" %}
{% block title %}Modificar usuario{% endblock %}

{% block scripts %} <script src="../static/js/user_modificate.js"></script>{% endblock %}

<!-- Begin Page Content -->
{% block main_content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-flex align-items-center justify-content-between mb-2">
        <h1 style="font-size: 2rem; margin-inline: auto;" class="text-primary mb-0 ">Modificar Usuario</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="mt-4 col-md-12">
            <div class="card shadow h-100 py-2 mb-4">
                <div class="card-body">
                    <div class="row no-gutters d-flex justify-content-center flex-column align-items-center">
                        <h1 style="font-size: 2rem;" class="text-secondary mb-4">Usuario</h1>
                        <div class="col-5 mb-2">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <form class="user" action="http://10.0.17.68:5000/api/modificar_usuario" method="POST">

                                                <input type="text" value="{{ user_id }}" name="id" hidden>
                                                <div class="form-group row">
                                                    <div class="col-12 mb-3">
                                                        <input type="text" class="form-control form-control-user" id="FirstName"
                                                            placeholder="Nombre" value="{{ user_nombre }}" name="nombre">
                                                    </div>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                                            placeholder="Apellido" value="{{ user_apellido }}" name="apellido">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control form-control-user" id="new_user"
                                                        placeholder="Usuario" value="{{ user_username }}" name="username">
                                                </div>

                                                <div class="form-group">
                                                    <select style="color: gray; font-size: 0.9rem; height: 3rem; border-radius: 5rem;" class="form-control custom-select" id="rol" name="rol">

                                                        {% if user_puesto %}
                                                        <option value="{{ user_rol }}" selected hidden>{{ user_rol }}</option>
                                                        {% else %}
                                                        <option value="" disabled selected hidden>Seleccione un rol</option>
                                                        {% endif %}
                                                        
                                                        <option value="Admin">Admin</option>
                                                        <option value="Recepcion">Recepción</option>
                                                        <option value="Ventanilla">Ventanilla</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <select style="color: gray; font-size: 0.9rem; height: 3rem; border-radius: 5rem;" class="form-control custom-select" id="puesto" name="puesto">
                                                        {% if user_puesto %}
                                                        <option value="{{ user_puesto }}" selected hidden>{{ user_puesto }}</option>
                                                        {% else %}
                                                        <option value="" disabled selected hidden>Seleccione un puesto</option>
                                                        {% endif %}
                                                        <option value="Administracion">Administración</option>
                                                        <option value="Recepcion">Recepción</option>
                                                        <option value="Ventanilla1">Ventanilla 1</option>
                                                        <option value="Ventanilla2">Ventanilla 2</option>
                                                        <option value="Ventanilla3">Ventanilla 3</option>
                                                    </select>
                                                </div>
                                                
                                                <hr>
                                                <button type="submit" href="#" style="font-weight: bold;" class="btn btn-primary btn-user btn-block">
                                                    Modificar usuario
                                                </button>
                                                
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

<!-- Content Row -->
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}

