{% extends "base_admin.html" %}
{% block title %}Crear Usuario{% endblock %}
{% block scripts %} <script src="../static/js/user_create.js"></script> {% endblock %}

<!-- Begin Page Content -->
{% block main_content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-flex align-items-center justify-content-between mb-2">
        <h1 style="font-size: 2rem; margin-inline: auto;" class="text-primary mb-0 ">Crear Usuario</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="mt-4 col-md-12">
            <div class="card shadow h-100 py-2 mb-4">
                <div class="card-body">

                    {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "success" %}
                            <div class="text-center alert alert-success alert-dismissible" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>                  
                            </div>
                            {% else %}
                            <div class="text-center alert alert-danger alert-dismissible" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>                  
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <div class="row no-gutters d-flex justify-content-center flex-column align-items-center">
                        <h1 style="font-size: 2rem;" class="text-secondary mb-4">Formulario de registro</h1>
                        <div class="col-5 mb-2">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <form class="user" action="http://10.0.17.165/api/crear_usuario" id="user-create-form" method="POST">
                                                <div class="form-group row">
                                                    <div class="col-12 mb-3">
                                                        <input type="text" class="form-control form-control-user" id="nombre"
                                                            placeholder="Nombre" name="nombre">
                                                    </div>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control form-control-user" id="apellido"
                                                            placeholder="Apellido" name="apellido">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control form-control-user" id="username"
                                                        placeholder="Usuario" name="username">
                                                </div>

                                                <div class="form-group">
                                                    <select style="color: gray; font-size: 0.9rem; height: 3rem; border-radius: 5rem;" class="form-control custom-select" id="rol" name="rol">
                                                        
                                                        <option value="" disabled selected hidden>Seleccione un rol</option>
                                                        <option value="Admin">Admin</option>
                                                        <option value="Recepcion">Recepción</option>
                                                        <option value="Ventanilla">Ventanilla</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <select style="color: gray; font-size: 0.9rem; height: 3rem; border-radius: 5rem;" class="form-control custom-select" id="servicio" name="servicio">
                                                        
                                                        <option value="" disabled selected hidden>Seleccione un servicio</option>
                                                        <option value="Administracion">Administración</option>
                                                        <option value="Recepcion">Recepción</option>
                                                        <option value="Recaudaciones">Recaudaciones / Certificado de votacion</option>
                                                        <option value="CambiosDomicilio">Cambios de Domicilio</option>
                                                        <option value="Justificaciones">Justificaciones</option>
                                                    </select>
                                                </div>

                                                
                                                <div class="form-group">
                                                    <input type="password" class="form-control form-control-user"
                                                            id="password" placeholder="Password" name="password">
                                                </div>

                                                <hr>
                                                <button style="font-weight: bold;" class="btn btn-primary btn-user btn-block" type="submit">
                                                    Crear Usuario
                                                </button>
                                                
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Content Row -->
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}

